LogLevel DEBUG

Compression yes
TCPKeepAlive yes
ServerAliveInterval 15
ServerAliveCountMax 3
ExitOnForwardFailure yes
ConnectionAttempts 3

ControlMaster ask
ControlPersist yes
Ciphers chacha20-poly1305@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr,aes256-gcm@openssh.com,aes128-gcm@openssh.com
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Macs umac-128-etm@openssh.com,umac-64-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha1-etm@openssh.com,umac-128@openssh.com,umac-64@openssh.com,hmac-sha2-512,hmac-sha2-256

RekeyLimit 1M 60
VisualHostKey yes
